In [1]:
# reloads import files each time a cell is ran
%load_ext autoreload
%autoreload 2


import scipy.stats as stats

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve


import modeling as md
import wrangle as wr
import exploration as exp
import acquire
import prepare
import split

In [2]:
zillow = wr.wrangle_zillow()
zillow.head()

hello??
brotherrrrr
bye bye

,Unnamed: 0,parcelid,propertylandusetypeid,id,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,propertylandusedesc,id.1,logerror,transactiondate
0,0,14297519,261.0,1727539,NaN,NaN,NaN,3.5,4.0,NaN,...,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13,Single Family Residential,0,0.025595,2017-01-01
1,1,17052889,261.0,1387261,NaN,NaN,NaN,1.0,2.0,NaN,...,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,Single Family Residential,1,0.055619,2017-01-01
2,2,14186244,261.0,11677,NaN,NaN,NaN,2.0,3.0,NaN,...,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,Single Family Residential,2,0.005383,2017-01-01
3,3,12177905,261.0,2288172,NaN,NaN,NaN,3.0,4.0,NaN,...,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,Single Family Residential,3,-0.103410,2017-01-01
4,4,12095076,261.0,781532,1.0,NaN,NaN,3.0,4.0,NaN,...,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13,Single Family Residential,6,-0.001011,2017-01-01

In [3]:
##### zillow = prepare.handle_missing_values(zillow)
#zillow = zillow.dropna()

target_var = 'logerror'

In [4]:
cols_to_drop = ['id', 'calculatedbathnbr', 'finishedsquarefeet12', 'propertylandusetypeid',
                'regionidzip', 'structuretaxvaluedollarcnt', 'assessmentyear',
                'landtaxvaluedollarcnt', 'propertylandusedesc', 'id.1']
cols_to_object = ['parcelid', 'rawcensustractandblock', 'regionidcity', 'regionidcounty',
                 'censustractandblock']


zillow[cols_to_object] = zillow[cols_to_object].astype('object')

zillow=zillow.drop(columns=cols_to_drop)
zillow=zillow.dropna()
zillow.head()

Empty DataFrame
Columns: [Unnamed: 0, parcelid, airconditioningtypeid, architecturalstyletypeid, basementsqft, bathroomcnt, bedroomcnt, buildingclasstypeid, buildingqualitytypeid, decktypeid, finishedfloor1squarefeet, calculatedfinishedsquarefeet, finishedsquarefeet13, finishedsquarefeet15, finishedsquarefeet50, finishedsquarefeet6, fips, fireplacecnt, fullbathcnt, garagecarcnt, garagetotalsqft, hashottuborspa, heatingorsystemtypeid, latitude, longitude, lotsizesquarefeet, poolcnt, poolsizesum, pooltypeid10, pooltypeid2, pooltypeid7, propertycountylandusecode, propertyzoningdesc, rawcensustractandblock, regionidcity, regionidcounty, regionidneighborhood, roomcnt, storytypeid, threequarterbathnbr, typeconstructiontypeid, unitcnt, yardbuildingsqft17, yardbuildingsqft26, yearbuilt, numberofstories, fireplaceflag, taxvaluedollarcnt, taxamount, taxdelinquencyflag, taxdelinquencyyear, censustractandblock, logerror, transactiondate]
Index: []

[0 rows x 54 columns]

In [5]:
print(zillow.shape)

for col in zillow.columns:
    plt.hist(zillow[col])
    plt.title(col)
    plt.show()

(0, 54)

In [6]:
train, validate, test = split.train_validate_test_split(zillow, target_var)
train.head()

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [ ]:
zillow.info()